// 
// Declarations  
// ========================================================================== 

// 
// Features:
// 

$bare-dock--t:						false !default;
$bare-dock--b:						false !default;
$bare-dock--l:						false !default;
$bare-dock--r:						false !default;


/* 
   #dock
   ========================================================================== */

/**
 * The dock object snaps content to a side of the page.
 *
 * Usage:
 *
 * <div class="o-dock"></div>
 */

.o-dock {
	position: fixed;
	z-index: 1;
	max-width: $bare-page-max-width;
}

// 
// #dock--t
// ========================================================================== 

@if ($bare-dock--t == true) {

	.o-dock--t {
		width: 100%;
		top: 0;
	}

}

// 
// #dock--b
// ========================================================================== 

@if ($bare-dock--b == true) {

	.o-dock--b {
		width: 100%;
		bottom: 0;
	}

}

// 
// #dock--l
// ========================================================================== 

@if ($bare-dock--l == true) {

	.o-dock--l {
		height: 100%;
		left: 0;
	}

}

// 
// #dock--r
// ========================================================================== 

@if ($bare-dock--r == true) {

	.o-dock--r {
		height: 100%;
		right: 0;
	}

}
